
<mat-form-field>
  <mat-label>Favorite hell</mat-label>
  <mat-select
    (selectionChange)="onFoodSelection1($event.value)"
    appearance="fill">
    <mat-option
      *ngFor="let hell of hells"
      [value]="hell.value">
      {{hell.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-tab-group mat-align-tabs="center">

  <mat-tab label="today">
    <app-day-info
      [currentWeatherData] = "currentWeatherData"
      [todayWeatherData]="todayWeatherData"
    >
    </app-day-info>
  </mat-tab>

  <mat-tab label="for three days">
    <div class="content">
      <mat-grid-list cols="3" >
        <mat-grid-tile *ngFor="let item of threeDaysWeatherData">
          <app-weather-card [dayWeatherData]="item" [head]="item.datetime">
          </app-weather-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-tab>
  <mat-tab label="for ten days">
    <div class="content">
      <mat-grid-list cols="3" >
        <mat-grid-tile *ngFor="let item of tenDaysWeatherData">
          <app-weather-card [dayWeatherData]="item" [head]="item.datetime"></app-weather-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-tab>
</mat-tab-group>
