
<mat-form-field>
  <mat-label>Favorite hell</mat-label>
  <mat-select
    [formControl]="selected"
    (selectionChange)="onTownSelection($event.value)"
  >

    <mat-option
      *ngFor="let hell of hells"
      [value]="hell.value">
      {{hell.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>


<mat-tab-group mat-align-tabs="center">
  <mat-tab label="today">
    <ng-http-loader></ng-http-loader>
    <app-day-info
      [currentWeatherData] = "currentWeatherData"
      [todayWeatherData]="todayWeatherData"
    >
    </app-day-info>
  </mat-tab>

  <mat-tab label="for three days">
      <mat-grid-list cols="3" rowHeight="400px" >
        <mat-grid-tile *ngFor="let item of threeDaysWeatherData">
          <app-weather-card [dayWeatherData]="item" [head]="item.datetime">
          </app-weather-card>
        </mat-grid-tile>
      </mat-grid-list>
  </mat-tab>

  <mat-tab label="for ten days">
      <mat-grid-list cols="3" rowHeight="400px"  >
        <mat-grid-tile *ngFor="let item of tenDaysWeatherData">
          <app-weather-card [dayWeatherData]="item" [head]="item.datetime"></app-weather-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>

</mat-tab-group>
